<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top px-4 footer">
  <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0" style="color: #f5edf0" >© 2024 Company, Inc</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i style="color: #f5edf0" class="fab fa-twitter"></i></a></li>
    <li class="ms-3"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i style="color: #f5edf0" class="fab fa-instagram"></i></a></li>
    <li class="ms-3"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i style="color: #f5edf0" class="fab fa-facebook-f"></i></a></li>
  </ul>
</footer>