<div>
  <app-preloader/>
  <app-header [options]="options"/>
  <div class="flex flex-col justify-around items-center space-y-6 relative z-10">
    <!-- Content above the image with z-10 -->
    <app-hero id="portfolioSection"/>

    <div class="px-3 lg:px-0" id="aboutusSection">
      <div
        class="max-w-5xl w-full rounded-lg bg-neutral-800 bg-opacity-20 p-6 my-6 flex flex-col items-center space-y-4 backdrop-blur-sm">
        <p class="text-2xl font-semibold text-white">Meet the Team</p>
        <p class="text-lg text-emerald-100">We’re Maciek and Dominik, a team of high school developers passionate about programming and always eager to learn more. While we both specialize in web development, we bring unique strengths to the table:</p>
        <div class="md:flex flex-row justify-around w-full space-y-6 md:space-y-0">
          <div
            class="max-w-sm mx-auto w-full rounded-lg bg-indigo-800 bg-opacity-30 hover:bg-opacity-40 hover:bg-indigo-800 p-6 flex flex-col items-center space-y-3 shadow-lg hover:scale-105 duration-150">
            <p class="text-lg font-bold text-white">Maciek</p>
            <p class="text-sm text-neutral-200 text-center">
              <b>Maciek</b> is passionate about C and C++, with a knack for performance-critical programming and solving complex problems. He has dabbled in graphics programming with SDL2 and OpenGL, even taking on the challenge of building a game engine. While it didn’t fully succeed, the lessons learned have fueled his drive to explore new projects and push his skills further.
            </p>
          </div>
          <div
            class="max-w-sm mx-auto w-full rounded-lg bg-indigo-800 bg-opacity-30 hover:bg-opacity-40 hover:bg-indigo-800 p-6 flex flex-col items-center space-y-3 shadow-lg hover:scale-105 duration-150">
            <p class="text-lg font-bold text-white">Dominik</p>
            <p class="text-sm text-neutral-200 text-center">
              <b>Dominik</b> specializes in Python and web development, focusing on building scalable, dynamic applications. With an interest in machine learning and automation, he brings creativity and precision to every project. Whether it’s designing intuitive web interfaces or experimenting with AI models, Dominik is always ready to learn and adapt.
            </p>
          </div>
        </div>
        <p class="text-lg text-emerald-100 text-center mt-6">Together, we’re a problem-solving duo working hard to improve our skills and break into the tech industry. Whether it's diving into mechatronics, electrical engineering, or new programming fields, we’re ready to tackle challenges as a team. For now, we’re building this portfolio and preparing for even bigger projects ahead!</p>
      </div>
    </div>
    
  </div>

  <div class="px-3 lg:px-0">
    <div
      class="max-w-3xl mt-24 mx-auto w-full rounded-lg bg-neutral-800 bg-opacity-20 backdrop-blur-sm p-5 my-5 flex justify-center"
      id="projectsSection">
      <p class="text-2xl font-semibold text-white">
        Explore our projects
      </p>
    </div>
  </div>

  <app-horizontal-scroll>
    <app-project-card
      class="shrink-0 w-10/12 lg:w-3/5"
      *ngFor="let project of projects"
      [project]="project">
    </app-project-card>
  </app-horizontal-scroll>

  <div class="px-3 lg:px-0">
    <div class="max-w-3xl mx-auto mt-24 w-full rounded-lg bg-neutral-800 bg-opacity-20 backdrop-blur-sm p-5 my-5 text-center"
         id="opinionsSection">
      <p class="text-2xl font-semibold text-white">
        Skills & Tools
      </p>
    </div>
  </div>

  <app-opinion-card
    *ngFor="let opinion of opinions"
    [opinion]="opinion">
  </app-opinion-card>

  <app-footer/>
</div>
