<div class="px-3 lg:px-0">
  <div class="max-w-5xl w-full rounded-lg bg-neutral-800 bg-opacity-20 p-6 my-6 flex flex-col items-center space-y-4 backdrop-blur-sm">
    <p class="text-3xl font-semibold text-white">Building the Future, One Line of Code at a Time</p>
    <p class="text-lg text-emerald-100">We’re
      <a href="#"
         class="font-semibold text-cyan-300 hover:bg-white hover:bg-opacity-20 rounded-lg p-1 duration-300">Maciek</a>
      and
      <a href="#"
         class="font-semibold text-cyan-300 hover:bg-white hover:bg-opacity-20 rounded-lg p-1 duration-300">Dominik</a>
      high school students with a passion for programming, web development, and all things tech.
      From crafting sleek, responsive websites to diving deep into C++, Python, and machine learning, we’re constantly exploring, learning, and creating.
      Let’s code something amazing together!
    </p>
  </div>
</div>
