<div class="px-3 lg:px-0">
  <div [@fade]="animationState"
       class="max-w-5xl w-full rounded-lg bg-neutral-800 bg-opacity-20 p-6 my-6 flex flex-col items-center space-y-4 backdrop-blur-sm">
    <p class="text-2xl font-semibold text-white">Welcome to Our Portfolio!</p>
    <p class="text-lg text-emerald-100">We are
      <a href=""
         class="font-semibold text-cyan-300 hover:bg-white hover:bg-opacity-20 rounded-lg p-1 duration-300">Name</a>
      and
      <a href=""
         class="font-semibold text-cyan-300 hover:bg-white hover:bg-opacity-20 rounded-lg p-1 duration-300">Name</a>,
      two passionate high school students who love creating innovative web applications.
      With a combined skill set in web development, C++, and Python, we work together to build dynamic, functional, and
      user-friendly digital solutions.
      Explore our projects below and learn how we can help bring your ideas to life!</p>
  </div>
</div>
