<div class="flex flex-col min-h-screen bg-gradient-to-tr from-green-500 via-green-500 via-teal-600 to-indigo-700">
  <app-header/>
  <div class="flex flex-col justify-around items-center">
    <div class="max-w-5xl w-full rounded-lg bg-neutral-800 bg-opacity-15 p-5 my-5">
      <div class="text-white text-lg">
        Welcome
      </div>
    </div>
    <div class="max-w-3xl w-full rounded-lg bg-neutral-800 bg-opacity-15 p-5 my-5 flex items-center">
      <div class="text-white text-lg">
        Welcome
      </div>
    </div>
  </div>
  <div class="justify-center">
    <app-project-card *ngFor="let project of projects" [project]="project"></app-project-card>
  </div>
  <router-outlet></router-outlet>
</div>
